---
layout: 2023/default
section: proposals
title: esLibre 2023
---

<div style="padding-top: 1em;" class="media">
  <img style="margin: 0 auto; display: block;" src="https://eslib.re/2023/assets/imgs/banner.png" alt="Logo esLibre" height="200">
</div>
<hr class="my-4">

<p style="text-align: center;">
  <strong><span class="red">(ES)</span></strong> En esta página encontraras todas la información detallada sobre todas las <strong>actividades aceptadas</strong>.<br><br>
  Si estás buscando información general sobre esta edición de <strong>es<span class="red">Libre</span></strong>, puedes encontrarla en la <a href="https://eslib.re/2023/" target="_blank">página principal</a>.<br><br>
  <strong><span class="red">(EN)</span></strong> On this page you will find all the detailed information about all the <strong>activities accepted</strong>.<br><br>
  If you are looking for general information about this edition of <strong>es<span class="red">Libre</span></strong>, you can find it on the <a href="https://eslib.re/2023/" target="_blank">main page</a>.
<ul style="padding-top: 1em; padding-bottom: 2em;">
  <li><a href="charlas/">Charlas / Talks</a></li>
  <li><a href="talleres/">Talleres / Workshops</a></li>
  <li><a href="salas/">Salas / Devrooms</a></li>
  <li><a href="mesas/">Mesas comunidades / Community tables</a></li>
  <li><a href="misc/">Espacio misceláneo / Miscellaneous space</a></li>
</ul>
</p>
