---
layout: 2024/list
section: talks
permalink: 2024/charlas/
title: Charlas esLibre 2024
---

<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h1 class="main-header display-4"><strong>Charlas/Talks es<span class="red">Libre</span> 2024</strong></h1>
  </div>
</div>
<hr class="my-4">

<ul id="list" style="padding-bottom: 0em;">
  {% for talk in site.pages %}
  {% if talk.path contains '2024/charlas' and talk.path contains '.md' and talk.category == 'talks' %}
  {% unless talk.state == 'canceled' or talk.path contains '.html' %}
  <li style="padding-bottom: 0.5em;"><a href="/{{ talk.path | remove_first: ".md" }}">{{ talk.author }} - {{ talk.title }}</a>
    {% endunless %}
    {% endif %}
    {% endfor %}
</ul>
