---
layout: 2024/list
section: misc
permalink: 2024/misc/
title: Espacio misceláneo esLibre 2024
---

<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h1 class="main-header display-4"><strong>Espacio misceláneo es<span class="red">Libre</span> 2024</strong></h1>
  </div>
</div>
<hr class="my-4">

<ul id="list" style="padding-bottom: 15.5em;">
  {% for misc in site.pages %}
  {% if misc.path contains '2024/misc' and misc.path contains '.md' and misc.category == 'misc' %}
  <li style="padding-bottom: 0.5em;"><a href="/{{ misc.path | remove_first: ".md" }}">{{ misc.author }} - {{ misc.title }}</a>
    {% endif %}
    {% endfor %}
</ul>
