---
layout: 2024/list
section: workshops
permalink: 2024/talleres/
title: Talleres esLibre 2024
---

<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h1 class="main-header display-4"><strong>Talleres/Workshops es<span class="red">Libre</span> 2024</strong></h1>
  </div>
</div>
<hr class="my-4">

<ul id="list" style="padding-bottom: 3.25em;">
  {% for workshop in site.pages %}
  {% if workshop.path contains '2024/talleres' and workshop.path contains '.md' and workshop.category == 'workshops' %}
  {% unless workshop.state == 'canceled' or workshop.path contains '.html' %}
  <li style="padding-bottom: 0.5em;"><a href="/{{ workshop.path | remove_first: ".md" }}">{{ workshop.author }} - {{ workshop.title }}</a>
    {% endunless %}
    {% endif %}
    {% endfor %}
</ul>
